*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
ghostdriver.log
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt
.swp

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# py.test
.cache/*
.pytest_config

# Developer
.project
.pydevproject

# Other
selenium-server-standalone.jar
geckodriver.log
downloaded_files
archived_files
logs
latest_logs
log_archives
archived_logs
latest_report
report_archives
archived_reports
html_report.html
report.html
assets
temp
node_modules
