*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
logs
archived_logs
ghostdriver.log
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt
.swp

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# py.test
.cache/*
.pytest_config

# Developer
.project
.pydevproject

# Other
selenium-server-standalone.jar
latest_report
report_archives
temp
