include README.md
include pytest.ini
include setup.cfg
include .gitignore
include requirements.txt
include install.sh
include install.bat
include virtualenv_install.sh
include virtualenv_install.bat
include seleniumbase/core/create_db_tables.sql
include seleniumbase/extensions/*.zip
include seleniumbase/utilities/selenium_grid/grid-hub
include seleniumbase/utilities/selenium_grid/grid-node
include seleniumbase/utilities/selenium_grid/font_color
include seleniumbase/utilities/selenium_grid/start-grid-hub.bat
include seleniumbase/utilities/selenium_grid/register-grid-node.bat
include seleniumbase/utilities/selenium_grid/start-grid-hub.sh
include seleniumbase/utilities/selenium_grid/register-grid-node.sh