pip>=20.3.4;python_version<"3.6"
pip>=21.3.1;python_version>="3.6" and python_version<"3.7"
pip>=22.3.1;python_version>="3.7"
packaging>=20.9;python_version<"3.6"
packaging>=21.3;python_version>="3.6"
setuptools>=44.1.1;python_version<"3.6"
setuptools>=59.6.0;python_version>="3.6" and python_version<"3.7"
setuptools>=65.6.3;python_version>="3.7"
tomli>=1.2.3;python_version>="3.6" and python_version<"3.7"
tomli>=2.0.1;python_version>="3.7"
tqdm>=4.64.1
wheel>=0.37.1;python_version<"3.7"
wheel>=0.38.4;python_version>="3.7"
attrs>=21.4.0;python_version<"3.6"
attrs>=22.1.0;python_version>="3.6"
PyYAML>=6.0;python_version>="3.6"
certifi>=2021.10.8;python_version<"3.6"
certifi>=2022.9.24;python_version>="3.6"
filelock>=3.2.1;python_version<"3.6"
filelock>=3.4.1;python_version>="3.6" and python_version<"3.7"
filelock>=3.8.0;python_version>="3.7"
platformdirs>=2.0.2;python_version<"3.6"
platformdirs>=2.4.0;python_version>="3.6" and python_version<"3.7"
platformdirs>=2.5.4;python_version>="3.7"
pyparsing>=2.4.7;python_version<"3.6"
pyparsing>=3.0.7;python_version>="3.6" and python_version<"3.7"
pyparsing>=3.0.9;python_version>="3.7"
six==1.16.0
idna==2.10;python_version<"3.6"
idna==3.4;python_version>="3.6"
chardet==3.0.4;python_version<"3.6"
chardet==4.0.0;python_version>="3.6" and python_version<"3.7"
chardet==5.0.0;python_version>="3.7"
charset-normalizer==2.0.12;python_version>="3.6" and python_version<"3.7"
charset-normalizer==2.1.1;python_version>="3.7"
urllib3==1.26.12;python_version<"3.7"
urllib3==1.26.13;python_version>="3.7"
requests==2.27.1;python_version<"3.6"
requests==2.27.1;python_version>="3.6" and python_version<"3.7"
requests==2.28.1;python_version>="3.7"
requests-toolbelt==0.10.1
nose==1.3.7
sniffio==1.3.0;python_version>="3.7"
h11==0.14.0;python_version>="3.7"
outcome==1.2.0;python_version>="3.7"
trio==0.22.0;python_version>="3.7"
trio-websocket==0.9.2;python_version>="3.7"
websockets==10.4;python_version>="3.7"
pyopenssl==22.1.0;python_version>="3.7"
wsproto==1.2.0;python_version>="3.7"
selenium==3.141.0;python_version<"3.7"
selenium==4.6.1;python_version>="3.7"
msedge-selenium-tools==3.141.3;python_version<"3.7"
more-itertools==5.0.0;python_version<"3.6"
more-itertools==8.14.0;python_version>="3.6" and python_version<"3.7"
more-itertools==9.0.0;python_version>="3.7"
cssselect==1.1.0;python_version<"3.7"
cssselect==1.2.0;python_version>="3.7"
sortedcontainers==2.4.0
fasteners==0.16;python_version<"3.6"
fasteners==0.17.3;python_version>="3.6" and python_version<"3.7"
fasteners==0.18;python_version>="3.7"
execnet==1.9.0
pluggy==0.13.1;python_version<"3.6"
pluggy==1.0.0;python_version>="3.6"
py==1.8.1;python_version<"3.6"
py==1.11.0;python_version>="3.6"
pytest==4.6.11;python_version<"3.6"
pytest==7.0.1;python_version>="3.6" and python_version<"3.7"
pytest==7.2.0;python_version>="3.7"
pytest-forked==1.3.0;python_version<"3.6"
pytest-forked==1.4.0;python_version>="3.6"
pytest-html==1.22.1;python_version<"3.6"
pytest-html==2.0.1;python_version>="3.6"
pytest-metadata==1.8.0;python_version<"3.6"
pytest-metadata==1.11.0;python_version>="3.6" and python_version<"3.7"
pytest-metadata==2.0.4;python_version>="3.7"
pytest-ordering==0.6
pytest-rerunfailures==8.0;python_version<"3.6"
pytest-rerunfailures==10.3;python_version>="3.6"
pytest-xdist==1.34.0;python_version<"3.6"
pytest-xdist==2.5.0;python_version>="3.6" and python_version<"3.7"
pytest-xdist==3.0.2;python_version>="3.7"
parameterized==0.8.1
sbvirtualdisplay==1.1.1
behave==1.2.6
parse==1.19.0
parse-type==0.6.0
soupsieve==1.9.6;python_version<"3.6"
soupsieve==2.3.2.post1;python_version>="3.6"
beautifulsoup4==4.9.3;python_version<"3.6"
beautifulsoup4==4.11.1;python_version>="3.6"
cryptography==2.9.2;python_version<"3.6"
cryptography==36.0.2;python_version>="3.6" and python_version<"3.7"
cryptography==38.0.4;python_version>="3.7"
pygments==2.5.2;python_version<"3.6"
pygments==2.13.0;python_version>="3.6"
pyreadline==2.1;platform_system=="Windows" and python_version<"3.6"
pyreadline3==3.4.1;platform_system=="Windows" and python_version>="3.6"
pyrepl==0.9.0
tabcompleter==1.0.0
pdbp==1.1.0
colorama==0.4.6;python_version<"3.6"
colorama==0.4.5;python_version>="3.6" and python_version<"3.7"
colorama==0.4.6;python_version>="3.7"
exceptiongroup==1.0.4;python_version>="3.7"
importlib-metadata==2.1.3;python_version<"3.6"
importlib-metadata==4.2.0;python_version>="3.6" and python_version<"3.8"
pycparser==2.21
pyotp==2.3.0;python_version<"3.6"
pyotp==2.7.0;python_version>="3.6"
cffi==1.15.1
typing-extensions==3.10.0.2;python_version<"3.6"
typing-extensions==4.1.1;python_version>="3.6" and python_version<"3.7"
typing-extensions==4.2.0;python_version>="3.7" and python_version<"3.9"
rich==12.6.0;python_version>="3.6" and python_version<"4.0"

# --- Testing Requirements --- #
# ("pip install -r requirements.txt" also installs this, but "pip install -e ." won't.)

coverage==5.5;python_version<"3.6"
coverage==6.2;python_version>="3.6" and python_version<"3.7"
coverage==6.5.0;python_version>="3.7"
pytest-cov==2.12.1;python_version<"3.6"
pytest-cov==4.0.0;python_version>="3.6"
flake8==3.7.9;python_version<"3.6"
flake8==5.0.4;python_version>="3.6"
mccabe==0.6.1;python_version<"3.6"
mccabe==0.7.0;python_version>="3.6"
pyflakes==2.1.1;python_version<"3.6"
pyflakes==2.5.0;python_version>="3.6"
pycodestyle==2.5.0;python_version<"3.6"
pycodestyle==2.9.1;python_version>="3.6"
