pip
setuptools
six
nose
ipdb
chardet
unittest2
selenium==3.141.0
requests==2.21.0
urllib3==1.24.1
pytest>=4.4.0
pytest-cov>=2.6.1
pytest-forked>=1.0.2
pytest-html>=1.20.0
pytest-metadata>=1.8.0
pytest-rerunfailures>=7.0
pytest-xdist>=1.28.0
parameterized>=0.7.0
beautifulsoup4>=4.6.0
colorama==0.4.1
pyotp>=2.2.7
boto>=2.49.0
flake8==3.7.7
PyVirtualDisplay==0.2.1
-e .
