# mkdocs dependencies for generating the seleniumbase.io website
# Minimum Python version: 3.10 (for generating docs only)

regex>=2026.1.15
pymdown-extensions>=10.20.1
pipdeptree>=2.30.0
python-dateutil>=2.8.2
Markdown==3.10.2
click==8.3.1
ghp-import==2.1.0
watchdog==6.0.0
cairocffi==1.7.1
pathspec==1.0.4
Babel==2.18.0
paginate==0.5.7
mkdocs==1.6.1
mkdocs-material==9.6.23
mkdocs-exclude-search==0.6.6
mkdocs-simple-hooks==0.1.5
mkdocs-material-extensions==1.3.1
