# mkdocs dependencies for generating the seleniumbase.io website
# Minimum Python version: 3.7

regex>=2022.9.13
docutils==0.19
python-dateutil==2.8.2
livereload==2.6.3
joblib==1.2.0
Markdown==3.3.7
MarkupSafe==2.1.1
keyring==23.9.3
pkginfo==1.8.3
Jinja2==3.1.2
click==8.1.3
zipp==3.8.1
ghp-import==2.1.0
readme-renderer==37.2
pymdown-extensions==9.5
importlib-metadata==4.12.0
bleach==5.0.1
jsmin==3.0.1
lunr==0.6.2
nltk==3.7
tornado==6.2
watchdog==2.1.9
cairocffi==1.4.0
cairosvg==2.5.2
cssselect2==0.7.0
tinycss2==1.1.1
defusedxml==0.7.1
mkdocs==1.3.1
mkdocs-material==8.5.3
mkdocs-exclude-search==0.6.4
mkdocs-simple-hooks==0.1.5
mkdocs-material-extensions==1.0.3
mkdocs-minify-plugin==0.5.0
