regex>=2022.1.18
tqdm>=4.63.0
docutils==0.18.1
python-dateutil==2.8.2
livereload==2.6.3;python_version>="3.6"
joblib==1.1.0;python_version>="3.6"
Markdown==3.2.2;python_version>="3.6" and python_version<"3.7"
Markdown==3.3.6;python_version>="3.7"
MarkupSafe==2.1.0;python_version>="3.6"
pyparsing==3.0.7;python_version>="3.6"
keyring==23.5.0;python_version>="3.7"
pkginfo==1.8.2;python_version>="3.6"
Jinja2==3.0.3;python_version>="3.6"
click==8.0.4;python_version>="3.6"
zipp==3.7.0;python_version>="3.7"
readme-renderer==34.0
pymdown-extensions==9.2;python_version>="3.7"
importlib-metadata==4.11.2;python_version>="3.7"
bleach==4.1.0
jsmin==3.0.1;python_version>="3.6"
lunr==0.6.2;python_version>="3.6"
nltk==3.7;python_version>="3.6"
watchdog==2.1.6;python_version>="3.6"
mkdocs==1.2.3;python_version>="3.6"
mkdocs-material==8.2.5;python_version>="3.6"
mkdocs-exclude-search==0.6.4;python_version>="3.6"
mkdocs-simple-hooks==0.1.5
mkdocs-material-extensions==1.0.3;python_version>="3.6"
mkdocs-minify-plugin==0.5.0
