regex>=2021.7.6
tqdm>=4.61.2
livereload==2.6.3;python_version>="3.6"
joblib==1.0.1;python_version>="3.6"
Markdown==3.3.4;python_version>="3.6"
MarkupSafe==2.0.1;python_version>="3.6"
docutils==0.17.1
Jinja2==3.0.1;python_version>="3.6"
click==8.0.1;python_version>="3.6"
zipp==3.5.0;python_version>="3.6"
readme-renderer==29.0
pymdown-extensions==8.2;python_version>="3.6"
importlib-metadata==4.6.1;python_version>="3.6"
lunr==0.6.0;python_version>="3.6"
nltk==3.6.2;python_version>="3.6"
watchdog==2.1.3;python_version>="3.6"
mkdocs==1.2.1;python_version>="3.6"
mkdocs-material==7.1.3;python_version>="3.6"
mkdocs-exclude-search==0.5.2;python_version>="3.6"
mkdocs-simple-hooks==0.1.3
mkdocs-material-extensions==1.0.1;python_version>="3.6"
mkdocs-minify-plugin==0.4.0
